node_modules/
.env
prisma/dev.db
prisma/dev.db-journal
prisma/dev.db-wal
prisma/dev.db-shm
prisma/hippo.db
prisma/hippo.db-journal
prisma/hippo.db-wal
prisma/hippo.db-shm
prisma/node_modules/
server/dist/
.DS_Store
